* {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.main {
    background-color: beige;
}

.title {
    font-size: 50px;
    background-color: red;
}

.instructions {
    background-color: silver;
    height: 30px;
}

.gameDisplay {
    height: 525px;
    padding: 20px;
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
}

.controlPanel {
    width: 200px;
    height: 400px;
}

.orientationBtn {
    background-color: black;
}

.left {
    background-color: purple;
    width: 400px;
    height: 400px;
}

.right {
    background-color: midnightblue;
    width: auto;
    height: auto;
}